{% extends "base.html" %}

{% block content %}

Voting

{{question.text}}

<form action="/results.html" method="post">
  {% csrf_token %}

  {% for answer in answer_list %}
  <div class="form-check">
    <input class="form-check-input" type="radio" name="radio_choice" id="exampleRadios1" value="{{answer.id}}" checked>
    <label class="form-check-label" for="exampleRadios1">
      {{answer.text}}
    </label>
  </div>
  {% endfor %}


  <button class="btn btn-primary" type="submit" name="question_id" value="{{question.id}}">Submit</button>
</form>

{% endblock content %}
